name: Build Artifacts
permissions:
  contents: read
  packages: write
  actions: read
on:
  workflow_dispatch: {}
  release:
    types: [created]
  push:
    branches:
      - '**'
    paths-ignore:
      - 'docs/**'
      - 'CODE-OF-CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'LICENSE'
      - 'README.md'
      - 'SECURITY.md'
  pull_request:
    branches:
      - '**'
    paths-ignore:
      - 'docs/**'
      - 'CODE-OF-CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'LICENSE'
      - 'README.md'
      - 'SECURITY.md'

env:
  TAG_NAME: ${{ github.event.release.tag_name || github.ref }}
  GITHUB_GROUP: ${{ github.repository_owner }}

concurrency:
  # On main/release, we don't want any jobs cancelled so the sha is used to name the group
  # On PR branches, we cancel the job if new commits are pushed
  # More info: https://stackoverflow.com/a/68422069/253468
  group: ${{ github.ref == 'refs/heads/main' && format('ci-main-{0}', github.sha) || format('ci-main-{0}', github.ref) }}
  cancel-in-progress: true

jobs:
  multiplatform_build:
    strategy:
      fail-fast: false
      matrix:
        component:
          - name: qubership-kafka-integration-tests
            file: integration-tests/docker/Dockerfile
            context: integration-tests
          - name: qubership-kafka-crd-init
            file: crd-init/docker/Dockerfile
            context: crd-init
          - name: qubership-kafka-operator
            file: operator/Dockerfile
            context: operator
          - name: qubership-kafka-service-operator
            file: operator/Dockerfile
            context: operator
          - name: qubership-kafka-service-transfer
            file: docker-transfer/kafka-service/Dockerfile
            context: ""
          - name: qubership-kafka-transfer
            file: docker-transfer/kafka/Dockerfile
            context: ""
          - name: qubership-kafka-backup-daemon
            file: backup-daemon/docker/Dockerfile
            context: backup-daemon
          - name: qubership-kafka-monitoring
            file: monitoring/docker/Dockerfile
            context: monitoring
          - name: qubership-docker-kafka-3
            file: docker-kafka/3/Dockerfile
            context: docker-kafka
          - name: qubership-docker-kafka-4
            file: docker-kafka/4/Dockerfile
            context: docker-kafka
          - name: qubership-docker-akhq
            file: docker-akhq/docker/Dockerfile
            context: docker-akhq
            cache: 'true'
          - name: qubership-docker-kafka-lag-exporter
            file: lag-exporter/docker/Dockerfile
            context: lag-exporter
          - name: qubership-docker-cruise-control
            file: docker-cruise-control/docker/Dockerfile
            context: docker-cruise-control
            cache: 'true'
          - name: qubership-kafka-mirror-maker-monitoring
            file: mirror-maker-monitoring/docker/Dockerfile
            context: mirror-maker-monitoring
          - name: qubership-docker-kafka-mirror-maker
            file: mirror-maker/docker/Dockerfile
            context: mirror-maker
    runs-on: ubuntu-latest
    name: ${{ matrix.component.name }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${GITHUB_ACTOR}
          password: ${{secrets.GITHUB_TOKEN}}
      - name: Prepare Tag
        run: echo "TAG_NAME=$(echo ${TAG_NAME} | sed 's@refs/tags/@@;s@refs/heads/@@;s@/@_@g')" >> $GITHUB_ENV
      - name: Prepare Group
        run: echo "GITHUB_GROUP=${GITHUB_GROUP,,}" >> $GITHUB_ENV
      
      - name: Gradle Build Cache for Docker
        if: matrix.component.cache == 'true'
        uses: actions/cache@v4
        with:
          path: gradle-build-cache
          key: ${{ runner.os }}-gradle-build-cache-${{ hashFiles(matrix.component.file) }}
      - name: Inject gradle-build-cache
        if: matrix.component.cache == 'true'
        uses: reproducible-containers/buildkit-cache-dance@4b2444fec0c0fb9dbf175a96c094720a692ef810 # v2.1.4
        with:
          cache-source: gradle-build-cache

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          cache-from: type=gha
          cache-to: type=gha,mode=max
          context: ${{ matrix.component.context }}
          file: ${{ matrix.component.file }}
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ghcr.io/${{ env.GITHUB_GROUP }}/${{ matrix.component.name }}:${{ env.TAG_NAME }}
          provenance: false
